{% extends "base.html" %}

{% block content %}
    <h1>Articles all
        <a href="{% url 'ai_news:article-create-manually' %}" class="btn btn-primary link-to-page">+</a>
    </h1>
    {% if article_list %}
    <table class="table">
      <tr>
        <th>Topic</th>
        <th>Title</th>
        <th>Text</th>
        <th>Publishing date</th>
        <th>Publisher</th>
        <th>Delete</th>
      </tr>
    {% for article in article_list %}
      <tr>
        <td>
          {% for topic in article.topic.all %}
            {{ topic.title }}
          {% endfor %}
        </td>
        <td>{{ article.title }}</td>
        <td>
          {{ article.body|truncatechars_html:150 }}
          <a href="{% url 'ai_news:article-detail' pk=article.id%}">Read more</a>
        </td>
        <td>{{ article.pub_date }}</td>
        <td>
            {{ article.publisher.username }}
        </td>
        <td> <a style="color: red"
                href="{% url 'ai_news:article-delete' pk=article.id %}">
                Delete
              </a>
        </td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no articles.</p>
    {% endif %}
{% endblock %}