{% extends "base.html" %}

{% block content %}
  <h1>
    {{ article.title }}
  </h1>
  <p>
    {{article.pub_date}}
  </p>
  <div>
    {{ article.body }}
    <br>
    {% if article.url %}
      <a href = {{article.url}}>{{article.url}}</a>
    {% endif %}
  </div>
  <br/><br/>
  <br/>
  <form action="{% url "ai_news:article_like" article.id %}"
        method="post"> 
    {% csrf_token %}
    <button type="submit" name="article_id" value="{{ article.id }}">
      {% if user in article.likes.all %}
      ❤️
      {% else %}
      🤍
      {% endif %}
    </button> {{ total_likes }}
  </form>
  <br>
  <h2>Comments</h2>
  {% if not article.comments.all %}
    <p> 
      Not comments yet...
      <a href="{% url "ai_news:comment-create" article.id %}">Add first comment</a>
    </p>
  {% else %}
    {% for comment in article.comments.all %}
      <p><strong>{{ comment.publisher.username }} ({{ comment.pub_date }}) </strong>
      {{ comment.comment }}</p>
    {% endfor %}
     <a href="{% url "ai_news:comment-create" article.id %}">Add comment</a>
  {% endif %}
    
  
{% endblock %}
