{% extends 'layouts/base.html' %}

{% block content %}
  <h1>
    {{ article.title }}
  </h1>
  <p>
    {{article.pub_date}}
  </p>
  <div>
    {% for paragraph in article.split_into_paragraphs %}
  <p>{{ paragraph }}</p>
{% endfor %}
    {% if article.url %}
      <strong> Source: </strong><a href = {{article.url}}> {{article.url}}</a>
    {% endif %}
  </div>
  <br/><br/>
  <br/>
  <form action="{% url "ai_news:article_like" article.id %}"
        method="post">
    {% csrf_token %}
    <button type="submit" name="article_id" value="{{ article.id }}">
      {% if user in article.likes.all %}
      ❤️
      {% else %}
      🤍
      {% endif %}
    </button> {{ total_likes }}
  </form>
  <br>
  <h2><strong>Comments</strong></h2>
  {% if not article.comments.all %}
    <p>
      Not comments yet...
      <button type="button" class="btn btn-primary">
        <a href="{% url "ai_news:comment-create" article.id %}">Add first comment</a>
      </button>
    </p>
  {% else %}
    {% for comment in article.comments.all %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ comment.publisher.username }}</h5>
            <p class="card-text">{{ comment.comment }}</p>
            <p class="card-text">{{ comment.pub_date }}</p>
        </div>
      </div>
    {% endfor %}
    <br>
    <button type="button" class="btn btn-primary">
     <a href="{% url "ai_news:comment-create" article.id %}">Add comment</a>
    </button>
  {% endif %}
{% endblock %}
