{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <br><br>
  <h1>{{ object|yesno:"Update,Create" }} Article</h1>
  <p> You can get it form verified website <br>   👇 <br>
      <button type="button" class="btn btn-primary">
        <a href="{% url 'ai_news:article-create-with-url' %}">Try it...</a>
      </button>
  </p>
  <p>Or you can add it manually</p>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {{ comment_formset.management_form }}

    {% for form in comment_formset.forms %}
        {{ form|crispy }}
    {% endfor %}
    <button type="submit">Save</button>
</form>
{% endblock %}
