{% extends "base.html" %}

{% block content %}
<h1>Our publishers</h1>
{% if publisher_list %}
    <ul>
        {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'ai_news:publisher-detail' pk=request.user.id %}">
                    {{ request.user.username }}
                </a>
            </li>
        {% endif %}

        {% for publisher in publisher_list %}
            {% if request.user != publisher %}
                <li>
                    <a href="{% url 'ai_news:publisher-detail' pk=publisher.id %}">
                        {{ publisher.username }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}