{% extends "base.html" %}

{% block content %}
  <h1>Our publishers</h1>
  {% if publisher_list %}
    <ul>
      <li>
        <a href="{% url "ai_news:publisher-detail" pk=user.id %}">
          {{ user.username }}
        </a>
          
      </li>
      {% for publisher in publisher_list%}
        {% if user != publisher %}  
          <li>
            <a href="{% url "ai_news:publisher-detail" pk=publisher.id %}">
              {{ publisher.username }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no publishers in blog</p>
  {% endif %}
{% endblock %}